<!DOCTYPE html>
<html>
<h1>Make your form here</h1>

<form method='POST' action='/pirates'>

  <p>Pirate's Name: <input type='text' id='name' name='pirate[name]'></p>
  <br>
  <p>Pirate's Weight: <input type="text" id='weight' name='pirate[weight]'></p>
  <br>
  <p>Pirate's Height: <input type="text" id="height" name="pirate[height]"></p>
  <br>

  <p>Ship 1 Name: <input type="text" id="ship_name_1"
    name="pirate[ships][][name]"></p>
  <br>
  
  <p>Ship 1 Type: <input type="text" id="ship_type_1"
    name="pirate[ships][][type]"></p>
  <br>

  <p>Ship 1 Booty: <input type="text" id="ship_booty_1"
    name="pirate[ships][][booty]"></p>
  <br>

  <p>Ship 2 Name: <input type="text" id="ship_name_2"
    name="pirate[ships][][name]"></p>
  <br>

  <p>Ship 2 Type: <input type="text" id="ship_type_2"
    name="pirate[ships][][type]"></p>
  <br>

  <p>Ship 2 Booty: <input type="text" id="ship_booty_2"
    name="pirate[ships][][booty]"></p>
  <br>

  <input type='submit' id="Submit" value='submit'>
  </form>
</html>
